.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정색 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 요소들 위에 나타나도록 충분히 높은 값 */
    opacity: 0; /* 초기 투명도 0 */
    visibility: hidden; /* 초기 상태는 보이지 않음 */
    transition: visibility 0s, opacity 0.3s linear;

}
.modal-backdrop.show {
    opacity: 1; /* 최종 투명도 1 */
    visibility: visible; /* 보이게 설정 */
}
.modal-content1 {
    width: 30%;
    height: 60%;
    background-color: floralwhite;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1001; /* modal-backdrop보다 높아야 함 */
    max-height: 80%; /* 화면의 80%를 넘지 않도록 설정 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤바 표시 */
    color:black;
    transform: translateY(100vh); /* 초기 상태에서 위로 조금 올라간 상태 */
    opacity: 0; /* 초기 투명도 0 */
    transition: all 0.3s ease-out;
}
.modal-content1.show {
    transform: translateY(0); /* 최종 상태는 원래 위치 */
    opacity: 1; /* 최종 투명도 1 */
}
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-input-container {
    margin-top: 10%; /* 상단 내용과의 간격 설정 */
}

.modal-input {
    width: 90%; /* 입력 필드의 너비 */
    padding: 10px; /* 입력 필드 내부의 여백 */
    margin-right: 10px; /* 입력 필드와 제출 버튼 사이의 간격 */

}

.modal-submit-btn {
    padding: 10px 20px; /* 버튼 내부의 여백 */
    cursor: pointer; /* 마우스 커서 모양 변경 */
}

.comment p {
    word-break: break-word;
}

.scrollBar::-webkit-scrollbar {
    width: 3px; /*스크롤바의 너비*/
}

.scrollBar::-webkit-scrollbar-thumb {
    height: 5%; /* 스크롤바의 길이 */
    background: #D3D3D3;
}

.scrollBar::-webkit-scrollbar-track {
}