/* Add this to your stylesheet */
.bottom-sheet {
    position: fixed;
    bottom: 0;
    width: 40vw;
    height: 100vh;
    transform: translateY(100%);
    transition: transform 0.4s ease-out;
}
.modal-toggle:checked + .modal.modal-backdrop .bottom-sheet {
    transform: translateY(0);
}

.scrollBar::-webkit-scrollbar {
    width: 3px; /*스크롤바의 너비*/
}

.scrollBar::-webkit-scrollbar-thumb {
    height: 5%; /* 스크롤바의 길이 */
    background: #D3D3D3;
}

.scrollBar::-webkit-scrollbar-track {
}